<mat-card class="mb-4 d-flex justify-content-between align-items-center to-do-card position-relative">
  <mat-chip-list
    *ngIf="item && item.done !== false"
    class="to-do-card__chip-list"
    [@enterAnimation]
  >
    <mat-chip class="mt-3 to-do-card__chip">
      <mat-icon
        aria-hidden="false"
        aria-label="Done"
        class="mr-2"
      >check_circle</mat-icon>
      Done {{item?.done}}
    </mat-chip>
  </mat-chip-list>
  <button mat-mini-fab class="to-do-card__delete__btn" (click)="clickDeleteButtonHandler()">
    <mat-icon>delete_outline</mat-icon>
  </button>
  <div class="to-do-card__content">
    <mat-card-content class="ml-3 mb-0">
      <app-edit-wrapper
        [value]="item?.category"
        [variant]="'input'"
        [label]="'Category'"
        [valueClassName]="'to-do-card__category'"
        (clickSave)="clickSaveButtonHandler($event, 'category')"
      ></app-edit-wrapper>
      <app-edit-wrapper
        [value]="item?.label"
        [variant]="'input'"
        [label]="'Label'"
        [valueClassName]="'to-do-card__label'"
        (clickSave)="clickSaveButtonHandler($event, 'label')"
      ></app-edit-wrapper>
      <app-edit-wrapper
        [value]="item?.description"
        [variant]="'textarea'"
        [label]="'Description'"
        [valueClassName]="'to-do-card__description'"
        (clickSave)="clickSaveButtonHandler($event, 'description')"
      ></app-edit-wrapper>
      <!-- {{item?.description}} -->
    </mat-card-content>
  </div>
  <div>
    <mat-slide-toggle
      (change)="toggleDoneHandler($event)"
      class="example-margin"
      [color]="'primary'"
      [checked]="item && item.done !== false"
    >
    </mat-slide-toggle>
  </div>
</mat-card>