.to-do-card {
  border-radius: 20px;
  border: none;
  box-shadow: 0px 24px 32px rgb(0 0 0 / 4%), 0px 16px 24px rgb(0 0 0 / 4%), 0px 4px 8px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);

  &__content {
    width: 600px;
    min-width: 200px;
  }

  &__chip-list {
    position: absolute;
    top: -1px;
    right: 55px;
    transition: 500ms ease;
  }

  &__chip {
    background: green;
    color: white;
    opacity: 0.8;
    padding-left: 5px;
    transition: 500ms ease;
  }

  &__delete__btn {
    background: lightgray;
    box-shadow: none;
    height: 32px;
    top: 10px;
    right: 12px;
    position: absolute;
    width: 32px;

    .mat-button-wrapper {
      line-height: 20px;
    }

    mat-icon {
      font-size: 20px;
    }
  }

  :host ::ng-deep &__category {
    color: rgba(0,0,0,.54);
    font-size: 16px;
  }

  :host ::ng-deep &__label {
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 20px;
  }

  :host ::ng-deep &__description {
    color: rgb(23, 43, 77);
    font-size: 16px;
    white-space: pre-line;
  }
}