<div
  *ngIf="isEditing === true; else valueDisplay"
  class="d-flex flex-column align-items-start ml-2 mb-4 mt-2"
>
  <mat-form-field class="w-100 edit-wrapper__input" appearance="outline">
    <mat-label>{{label}}</mat-label>
    <ng-container *ngIf="variant === 'input'; else textarea">
      <input
        matInput
        [(ngModel)]="updatedValue"
      >
    </ng-container>
    <ng-template #textarea>
      <textarea
        matInput
        class="w-100"
        [(ngModel)]="updatedValue"
      ></textarea>
    </ng-template>
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      color="primary"
      aria-label="Save"
      [disabled]="updatedValue === value || updatedValue === ''"
      (click)="clickSaveHandler()"
    >
      Save
    </button>
    <button
      class="ml-3"
      mat-button
      color="warn"
      aria-label="Save"
      (click)="clickCancelHandler()"
    >
      Cancel
    </button>
  </div>
</div>
<ng-template #valueDisplay>
  <div
    class="{{valueClassName}}"
    (click)="toggleEdit()"
  >
  <p class="edit-wrapper__value d-inline-block m-0">
    {{value}}
  </p>
  </div>
</ng-template>