.edit-wrapper__value {
  border-radius: 5px;
  // display: contents;
  transition: 300ms ease;
  padding: 4px 8px;
  word-break: break-word;

  &:hover {
    background: lightgray;
  }
}

.edit-wrapper__input input,
.edit-wrapper__input textarea {
  font-size: 16px;
}