<mat-card class="dashboard__container mt-3 mb-3">
  <div
    class="text-center dashboard__item"
    [ngClass]="{'dashboard__item--selected': !showOpen}"
    (click)="clickDashboardItemHandler(false)"
  >
    <div class="dashboard__item__value">{{totalToDo}}</div>
    <div
      class="dashboard__item__label"
    >To Do</div>
  </div>
  <div
    class="text-center dashboard__item"
    [ngClass]="{'dashboard__item--selected': showOpen}"
    (click)="clickDashboardItemHandler(true)"
  >
    <div class="dashboard__item__value">{{totalOpen}}</div>
    <div
      class="dashboard__item__label"
    >Open</div>
  </div>
</mat-card>