.dashboard__container {
  border-radius: 100px;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 24px 32px rgb(0 0 0 / 4%), 0px 16px 24px rgb(0 0 0 / 4%), 0px 4px 8px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);

  .dashboard__item {
    cursor: pointer;
    
    &__value {
      font-size: 24px;
      font-weight: bold;
    }
    
    &__label {
      font-size: 16px;
      color: darkgray;
    }
  }

  .dashboard__item--selected {
    transform: scale(1.2);
  }
}