<app-dashboard
  [items]="toDoList"
  [selectedCategory]="selectedCategory"
  [showOpen]="showOpen"
  (clickFilter)="applyOpenFilter($event)"
></app-dashboard>
<app-item-filter
  [items]="toDoList"
  [selectedCategory]="selectedCategory"
  (clickFilter)="applyCategoryFilter($event)"
></app-item-filter>
<ng-container *ngFor="let item of filteredToDoList; let i = index; trackBy: trackToDoListById">
  <app-to-do-card
    [item]="item"
    (onSave)="updateData($event, i)"
    (onDelete)="deleteData(item.id)"
  ></app-to-do-card>
</ng-container>
<div class="container create-todo__btn__wrapper">
  <button
    mat-fab
    color="primary"
    class="mb-3 d-block mr-3"
    (click)="toggleColorBackgroundHandler()"
  >
    <mat-icon>not_started</mat-icon>
  </button>
  <button
    mat-fab
    color="primary"
    class="mr-3"
    (click)="clickAddToDoHandler()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>