<div>
  <div class="h5 mb-4">New To Do 🔥</div>
  <mat-form-field
    class="w-100 edit-wrapper__input"
    appearance="outline"
  >
    <mat-label>Category</mat-label>
    <input
      matInput
      [(ngModel)]="newToDo.category"
    >
  </mat-form-field>
  <mat-form-field
    class="w-100 edit-wrapper__input"
    appearance="outline"
  >
    <mat-label>Label</mat-label>
    <input
      matInput
      [(ngModel)]="newToDo.label"
    >
  </mat-form-field>
  <mat-form-field
    class="w-100 edit-wrapper__input"
    appearance="outline"
  >
    <mat-label>Description</mat-label>
    <textarea
      matInput
      class="w-100"
      [(ngModel)]="newToDo.description"
      rows="5"
    ></textarea>
  </mat-form-field>
</div>
<div class="d-flex justify-content-end">
  <button
    mat-raised-button
    color="primary"
    class="mr-3 d-block"
    [disabled]="newToDo.label === '' || newToDo.category === '' || newToDo.description === ''"
    (click)="clickSaveHandler()"
  >Save
  </button>
  <button mat-button (click)="clickCancelHandler()">Cancel</button>
</div>